parameters:
    level: 5

    paths:
        - includes
        - vaanilog.php
        - uninstall.php

    excludePaths:
        - vendor/*
        - tests/*

    inferPrivatePropertyTypeFromConstructor: true
    